// Fundamentals (aside from BS)
.skip-link {
    visibility: hidden;
    margin-top: -999px;
    position: absolute;
}

header {
    position: relative;
}

// Background global class to stop repeats
.bg-img-no-repeat {
    @include media-breakpoint-up(lg) {
        background-size: cover;
    }
    background-repeat: no-repeat;
    background-size: contain;
}

.jq-site-header-bg {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1000px;
    background: $color_secondary 0% 0% no-repeat padding-box;
    background-image:url('../../assets/img/group-14.svg');
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.jq-header-assets {
    @include media-breakpoint-down(lg) {
        height:50px;
        margin-top: 0;
        img {
            float: left;
            width: 33.333%;
        }
    }
    margin-top: -10em;
}